/*sticky footer implementation
http://mystrd.at/modern-clean-css-sticky-footer/
*/

html {
  position: relative;
  min-height: 100%;
}

#wrapper {
  margin: 0 0 50px; /* bottom = footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 10px;
  text-align: center;

  p {
    padding-top: 10px;
  }
}

