body {
  font-family: Helvetica;
  background-color: #2980b9;
  margin: 0;
}

main {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

main > header{
  height: 50px;
}
