.box, .box .mask, .box .content, .box img {
  width: 200px;
  height: 200px; }

body {
  font-family: Helvetica;
  background-color: #2980b9;
  margin: 0; }

main {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff; }

main > header {
  height: 50px; }

.l-grid {
  margin: 0;
  padding: 0;
  list-style: none; }

.l-grid > li {
  display: inline-block;
  margin: 0; }

.box {
  position: relative;
  text-align: center;
  border: 10px solid #333333;
  cursor: default;
  overflow: hidden; }
  .box .mask, .box .content {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
  .box img {
    display: block;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
  .box h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    background: #333333;
    margin: 20px 0 0 0; }
  .box p {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px 20px 20px; }
  .box a.info {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 7px 14px;
    font-size: 10px; }

.vertical img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
.vertical .mask {
  opacity: 0;
  background-color: #999999;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.vertical h2 {
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0; }
.vertical p {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0; }
.vertical a.info {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0; }
.vertical:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); }
.vertical:hover .mask {
  opacity: 1; }
.vertical:hover h2, .vertical:hover p, .vertical:hover a.info {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }
.vertical:hover p {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }
.vertical:hover a.info {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.pivot img {
  -webkit-transition: all 0.2 ease-in;
  -moz-transition: all 0.2 ease-in;
  -o-transition: all 0.2 ease-in;
  transition: all 0.2 ease-in; }
.pivot .mask {
  height: 300px;
  width: 300px;
  background-color: #999999;
  padding: 60px;
  opacity: 0;
  -webkit-transform: translate(265px, 145px) rotate(45deg);
  -moz-transform: translate(265px, 145px) rotate(45deg);
  -ms-transform: translate(265px, 145px) rotate(45deg);
  -o-transform: translate(265px, 145px) rotate(45deg);
  transform: translate(265px, 145px) rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.pivot h2 {
  background: #333333;
  -webkit-transform: translate(200px, -200px);
  -moz-transform: translate(200px, -200px);
  -ms-transform: translate(200px, -200px);
  -o-transform: translate(200px, -200px);
  transform: translate(200px, -200px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.pivot p {
  -webkit-transform: translate(-200px, 200px);
  -moz-transform: translate(-200px, 200px);
  -ms-transform: translate(-200px, 200px);
  -o-transform: translate(-200px, 200px);
  transform: translate(-200px, 200px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.pivot a.info {
  -webkit-transform: translate(0px, 100px);
  -moz-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  -o-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  -webkit-transition: all 0.2s 0.1s ease-in-out;
  -moz-transition: all 0.2s 0.1s ease-in-out;
  -o-transition: all 0.2s 0.1s ease-in-out;
  transition: all 0.2s 0.1s ease-in-out; }
.pivot:hover .mask {
  opacity: .8;
  -webkit-transform: translate(-80px, -125px) rotate(45deg);
  -moz-transform: translate(-80px, -125px) rotate(45deg);
  -ms-transform: translate(-80px, -125px) rotate(45deg);
  -o-transform: translate(-80px, -125px) rotate(45deg);
  transform: translate(-80px, -125px) rotate(45deg);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; }
.pivot:hover h2, .pivot:hover p, .pivot:hover a.info {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.pivot:hover h2 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s; }
.pivot:hover a.info {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }
.pivot:hover p {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.zoom img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.zoom .mask {
  opacity: 0;
  background-color: #999999;
  -webkit-transform: scale(0) rotate(180deg);
  -moz-transform: scale(0) rotate(180deg);
  -ms-transform: scale(0) rotate(180deg);
  -o-transform: scale(0) rotate(180deg);
  transform: scale(0) rotate(180deg);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
.zoom h2 {
  -webkit-transform: translate(-200px, -200px) rotate(45deg);
  -moz-transform: translate(-200px, -200px) rotate(45deg);
  -ms-transform: translate(-200px, -200px) rotate(45deg);
  -o-transform: translate(-200px, -200px) rotate(45deg);
  transform: translate(-200px, -200px) rotate(45deg);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
.zoom p {
  -webkit-transform: translate(200px, 200px) rotate(-45deg);
  -moz-transform: translate(200px, 200px) rotate(-45deg);
  -ms-transform: translate(200px, 200px) rotate(-45deg);
  -o-transform: translate(200px, 200px) rotate(-45deg);
  transform: translate(200px, 200px) rotate(-45deg);
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
.zoom a.info {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
.zoom:hover h2, .zoom:hover p {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  -moz-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
.zoom:hover .mask, .zoom:hover a.info {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.slide img {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.slide .mask {
  opacity: 1;
  background-color: #999999;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.slide:hover img {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.slide:hover .mask {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
