@mixin transition($type, $time, $ease) {
  -webkit-transition:$type $time $ease;
  -moz-transition:$type $time $ease;
  -o-transition:$type $time $ease;
  transition:$type $time $ease;
}

@mixin transform($type-magnitude...) {
  -webkit-transform:$type-magnitude;
  -moz-transform:$type-magnitude;
  -ms-transform:$type-magnitude;
  -o-transform:$type-magnitude;
  transform:$type-magnitude;
}

@mixin transition-delay($time) {
  -webkit-transition-delay:$time;
  -moz-transition-delay:$time;
  -o-transition-delay:$time;
  transition-delay:$time;
}

%box-dimensions {
  width: 200px;
  height: 200px;
}

